@import "../abstracts/variables";
.story {
  width: 75%;
  margin: 2rem auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    background-color: red;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    -webkit-transform: translateX(-3rem) skewX(12deg);
    -moz-transform: translateX(-3rem) skewX(12deg);
    -ms-transform: translateX(-3rem) skewX(12deg);
    -o-transform: translateX(-3rem) skewX(12deg);
    position: relative;
  }
  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    -webkit-transform: translateX(-4rem) scale(1.4);
    -moz-transform: translateX(-4rem) scale(1.4);
    -ms-transform: translateX(-4rem) scale(1.4);
    -o-transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  &__text {
    transform: skewX(12deg);
    -webkit-transform: skewX(12deg);
    -moz-transform: skewX(12deg);
    -ms-transform: skewX(12deg);
    -o-transform: skewX(12deg);
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    -webkit-transform: translate(-50%, 20%);
    -moz-transform: translate(-50%, 20%);
    -ms-transform: translate(-50%, 20%);
    -o-transform: translate(-50%, 20%);
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
    -webkit-transform: translateX(-4rem) scale(1);
    -moz-transform: translateX(-4rem) scale(1);
    -ms-transform: translateX(-4rem) scale(1);
    -o-transform: translateX(-4rem) scale(1);
    -webkit-filter: blur(3px) brightness(80%);
  }
}
